<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LFT: Work</title>
    <link rel="stylesheet" href="/stylesheets/style5.css" />
</head>
<body>
    <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/biography">Her Story</a></li>
          <li><a href="/importance">Legacy for Brazilian Literature</a></li>
          <li><a href="/literarystyle">Literary Style</a></li>
          <li><a href="/books">Know Her Work</a></li>
        </ul>
      </nav>
      <h1>Explore her main works</h1>
      
      <div class="album" id="album">
        <div class="photo">
          <img src="images/book1.jpg" alt="Book 1">
          <p class="caption"><strong>"As Meninas" (The Girls):</strong> The novel portrays the friendship among three university students during the Brazilian military dictatorship, exploring themes of oppression, freedom, and female identity.</p>
        </div>
        <div class="photo">
          <img src="images/book2.jpg" alt="Book 2">
          <p class="caption"><strong>"Ciranda de Pedra" (Circle of Stone):</strong> The book tells the story of Virgínia, a young woman who becomes entangled in a web of family secrets after her mother's death.</p>
        </div>
        <div class="photo">
            <img src="images/book3.jpg" alt="Book 3">
            <p class="caption"><strong>"Verão no Aquário" (Summer in the Aquarium):</strong>In this work, we follow the life of Mariana, a woman who, after an accident, finds herself confined to a wheelchair, facing loneliness and a transformation of her identity.</p>
        </div>
        <div class="photo">
            <img src="images/book4.jpg" alt="Book 4">
            <p class="caption"><strong>"Coração de Vidro" (Glass Heart)</strong> The author presents a collection of short stories that explore different aspects of the human condition, revealing complex characters and their experiences of love, pain, and transformation.</p>
        </div>
      </div>
    
      <script src="/app.js"></script>
</body>
</html>