body {
    display: flex;
    flex-direction: column;
    background-color: rgb(213, 234, 228);
  }
  
  nav {
    display: flex;
    align-items: center;
    background: rgb(0, 0, 0) 11%;
    height: 10vh;
    padding: 0 2em;
  }
  
  ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin: 0 1em;
  }
  
  a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  body {
    font-family: Arial, sans-serif;
  }

  .album {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    padding: 20px;
    gap: 20px;
  }
  
  .photo {
    scroll-snap-align: start;
    text-align: center;
  }
  
  .photo img {
    max-width: 100%;
    height: auto;
    
  }
  
  .caption {
    margin-top: 10px;
  }

  
  h1,
  p {
    text-align: center;
  }
  